body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, rgb(66, 217, 255), rgb(113, 113, 253), rgb(0, 89, 255))
}

.jumbotron {
  margin: 10%;
  text-align: center;
  opacity: .7;
}

#gameResults {
  display: none;
}

.game-board {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  margin-top: 125px;
}