body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(to right, rgb(66, 217, 255), rgb(113, 113, 253), rgb(0, 89, 255));
  height: 100vh;
}

.jumbotron {
  background-image: url(/assets/smiley.jpg);
  background-repeat: repeat;
  font-weight: bolder;
  color: darkblue;
  width: 50%;
  margin: auto;
  text-align: center;
  opacity: .5;
}

#gameResults {
  display: none;
}

.game-board {
 
}

.players{
  margin: auto;
  padding: 25px;
}

.dice-roll {

}

.scoreBoard {
}

#footer {
  width: 40%;
  background: linear-gradient(to right, red, rgb(247, 0, 255), rgb(134, 5, 255));
  font-size: 1rem;
  font-style: italic;
}